.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;

  &__side {
    // background-color: orange;
    // position: absolute;
    color: white;
    font-size: 2rem;
    height: 100%;
    width: 20rem;
    // width: 80%;
    transition: all 0.8s;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    &--front {
      // background-color: orange;
    }

    &--back {
      // background-color: green;
      position: absolute;
      top: 0;
      left: 0;
      color: black;
      transform: rotateY(180deg);
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }
}
