.main_header {
  display: flex;
  position: relative;
  width: 100%;
  background-color: rgb(196, 77, 77);
  justify-content: space-between;

  & > div {
    display: block;
    margin: 1rem;
    cursor: pointer;
    // padding: 10px;
    color: white;
    font-size: 2.5rem;
    // padding: 0.1rem;
    font-family: "Tangerine", serif;
    // border: 0.1px solid black;
  }
}
