$light_green: rgba(90, 197, 95, 0.644);
$dark_green: rgba(133, 240, 147, 0.616);
.image_block {
  display: block;
  position: relative;
  background-image: linear-gradient($light_green, $dark_green),
    url(../../images/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.header_text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;

  &--name {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.75rem;
    animation-name: moveInRight;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    opacity: 0.5;
    transform: translate(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    opacity: 0.5;
    transform: translate(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
