@import "../components/header.scss";
@import "../components/header-card.scss";
@import "../components/card.scss";
@import "../components/new-card.scss";

.main-part {
  padding: 2rem;
}

.card_view_layout {
  display: grid;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  // overflow: hidden;
  grid-template-columns: repeat(4, minmax(30rem, 1fr));
}
